<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Касса Кинотеатра</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="app">
        <div class="screen">Экран</div>
        
        <div class="main">
            <div class="rows" v-if="seats.length">
                <ul class="seats"
                    v-for="n in 10">
                    <li is="seat"
                        v-for="(i, index) in 10"
                        :key="index"
                        :id="seats[n * 10 - 10 + index].id"
                        :booked="seats[n * 10 - 10 + index].booked"
                        :price="seats[n * 10 - 10 + index].price"
                        :purchased="seats[n * 10 - 10 + index].purchased"></li>
                </ul>
            </div>
            
            <div is="stats"></div>
        </div>
    </div>
    
    <script src="public/js/bundle.js"></script>
</body>
</html>
